
body {
margin:0 auto;
padding:0px 0px 0px 0px;
background: #9bd266;
#665d51;
#A85AF4;
}

.main {
margin-left: auto; margin-right: auto;
/*position: absolute; top: 0px; left: 30px;*/
height: 780px;
width: 980px;
border: 0px solid red;
z-index: 1;
}

.header {
/*
background-color: white;
background-image: url(URL_GOES_HERE);
background-repeat: no-repeat;
background-attachment: scroll;
background-position: top center;
*/
background: url(images/kirppisbanner_v2.png);
float: left;
height: 280px;
width: 980px;
border: 0px solid red;
overflow: auto;
z-index: 1;
}

.content {
		overflow: auto;
		float: left;
		top: 150px;
		height: 496px;
		width: 776px;
		text-color: #000000;
		background: #ffffff;
		border: 2px solid #A20B3E;
		padding: 2px solid #000000;
}

div.content p
  {
  margin: 30px 40px;
  #font-weight: bold;
  color: #000000;
  }

.sidebar {
#background-color: white;
background: url(fade.jpg); 
#top center repeat-x;

float: left;
height: 500px;
width: 200px;
border: 0px solid red;
overflow: auto;
#z-index: -1;
}

div.sidebar img
 {
		margin: 10px 10px 0px 10px; 
		#padding: 10px 10px 0px 10px;
 }

div.sidebar a img
{
		border: none;
		/*behavior: url(iepngfix.htc);*/
}

.flash {
#background-color: white;
margin-left: auto; margin-right: auto; margin-top: 54px; 
height: 50px;
width: 640px;
}
